.float-right {
    background-color: white;
    position: absolute;
    right: 50%;
    margin-right: -620px;
    width: 368px;
    height: 472px;
    top: 33px;
    border: 1px solid #4B6075;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .float-right h2 {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .float-right h3 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: #4B6075;
  }
  .inner-column {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  p {
    text-align: center;
    color: #888;
  }
  .hero-tag {
    color: white;
    position: absolute;
    bottom: 52px;
    width: 820px;
    margin-left: -600px;
    left: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 142%;
  }
  .hero-img-wrapper {
    position: relative;
    height: 538px;
    overflow: hidden;
    width: 100%;
  }
  .hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: none;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0.45) 100%);
  }
  .hero-img {
    width: 100%;
    min-width: 1440px;
  }
  .section1 {
    background: white;
    padding: 80px 0;
  }
  .callout {
    font-color: color: #1F2933;
    font-size: 48px;
    font-weight: bold;
    line-height: 125%;
    text-align: center;
    padding: 0 80px 20px 80px;
  }
  .section1 .table {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section1 .table > div {
    text-align: center;
    width: 300px;
    font-size: 20px;
  }
  .section1 .table .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .section1 .table .icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background: #F3F5F6;
    margin-bottom: 24px;
  }
  .section2 {
    width: 1200px;
    background: white;
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    margin: 140px auto 160px auto;
  }
  .section2 .left {
    width: 544px;
    font-size: 24px;
    padding: 80px 40px;
  }
  .section2 .quote {
    margin-bottom: 40px;
  }
  .homepage :global(a.button),
  .homepage :global(a.button:visited),
  .homepage :global(a.button:active) {
    display: inline-block;
    color: white;
    background: #1382E9;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 20px;
  }
  .section2 .quoteText {
    margin-bottom: 50px;
  }
  .section3 {
    text-align: center;
    padding-bottom: 140px;
  }
  .section3 .pricing-small {
    color: #2CA01C;
    font-size: 34px;
    margin-top: 20px;
  }
  .section3 .pricing-large {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .section3 .price {
    color: #2CA01C;
    font-size: 120px;
    font-weight: bold;
  }
  .section3 .strike {
    font-size: 96px;
    text-decoration: line-through;
    padding-left: 60px;
  }
  .section3 .unit {
    font-size: 48px;
    padding-left: 18px;
  }
  .section3 .disclaimer {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .section4 {
    background: #116DC1;
    padding: 60px 100px;
    color: white;
    text-align: center;
  }
  .section4 .callout {
    padding: 0;
    padding-bottom: 40px;
  }
  .section4 :global(a.button),
  .section4 :global(a.button:visited),
  .section4 :global(a.button:active) {
    background: white;
    color: #116DC1;
  }
  .footer {
    background: #1F2933;
  }
  .footer .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
  .footer :global(a),
  .footer :global(a:visited),
  .footer :global(a:active) {
    color: white;
  }
  ul {
    list-style-type: none;
  }
  li :global(a) {
    font-size: 24px
  }
  li {
    padding: 12px;
  }
